:root {
  --blue: #2000ff;
  --spacing-1: 0.8rem;
  --spacing-2: 1.6rem;
  --spacing-3: 2.4rem;
}

html {
  background-color: white;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  color: var(--blue);
}

a {
  color: var(--blue);
}

a:hover,
a:active {
  opacity: 0.7;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  font-size: 2em;
  padding: var(--spacing-2);
  max-width: 60rem;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.header img {
  width: 100%;
}

.scroll-into-view {
  opacity: 0;
}

.scroll-into-view.in-view {
  animation: fade-in 0.4s cubic-bezier(0.1, 0.66, 0.35, 0.99) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-1em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
