body {
  margin: 0;
  font-family: sans-serif;
  color: #3000ff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.8em;
}
